<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>622087430534-t0jjdethba9qnqmvnk00keogann1eij2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622087430534-t0jjdethba9qnqmvnk00keogann1eij2</string>
	<key>API_KEY</key>
	<string>AIzaSyAYuRbxvDpwFfQvls0sqhh_drumjhCFmlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>622087430534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kjcode.vkdlxh.simpledocbase</string>
	<key>PROJECT_ID</key>
	<string>simpledocbase</string>
	<key>STORAGE_BUCKET</key>
	<string>simpledocbase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622087430534:ios:27cee9847a8d95d4</string>
	<key>DATABASE_URL</key>
	<string>https://simpledocbase.firebaseio.com</string>
</dict>
</plist>